# Dependencies
node_modules/
.pnp
.pnp.js

# Environment Variables & Credentials
.env
.env*.local
.env.development
.env.test
.env.production
*.pem
*.key

# Production & Build Outputs
dist/
build/
out/
.next/
.nuxt/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.turbo/
.cache/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing & Coverage
coverage/
.nyc_output/
*.lcov

# IDEs and Editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

